.additional-goods__header-sub-span {
  font-size: 24px;
  line-height: 24px;
  font-family: "Oswald-Regular", sans-serif;
}

.additional-goods__header-line {
  height: 3px;
  background-color: #68b738;
  width: 53px;
  margin-top: 6px;
  margin-left: 21px;
}

.additional-goods__header {
  display: flex;
  padding-left: 20px;
  padding-top: 4px;
  align-items: center;
  padding-top: 28px;
  padding-bottom: 34px;
}

.additional-goods__article-header {
  font-size: 16px;
  line-height: 16px;
  font-family: "Oswald-Regular", sans-serif;
  margin-bottom: 13px;
  text-transform: uppercase;
  margin-top: 14px;
  margin-left: 1px;
}

.additional-goods__article {
  display: flex;
  flex-direction: column;
  border-top: 1px solid #cdcdcd;
  margin: 0 auto;
  max-width: 280px;
}

.additional-goods__article-content {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  line-height: 14px;
  font-family: "Arial-Regular", sans-serif;
}

.additional-goods__article-order {
  margin-bottom: 17px;
  margin-top: 14px;
  text-transform: uppercase;
  color: #ffffff;
  border: 0;
  background-color: #68b738;
  padding: 10px 108px 10px 111px;
  max-width: 280px;
  font-family: "Oswald-Regular", sans-serif;
  font-size: 16px;
  line-height: 20px;
}

.additional-goods__green-background {
  margin-top: 40px;
  margin-bottom: 35px;
  background-image: url("../img/gift-photo-mobile@1x.jpg");
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 65px;
  padding-bottom: 41px;
  max-width: 280px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 41px;
}

.additional-goods__background-img {
  margin-bottom: 61px;
}

.additional-goods__green-background-text {
  font-size: 16px;
  line-height: 20px;
  font-family: "Arial-Regular", sans-serif;
  color: #ffffff;
  max-width: 160px;
  text-align: center;
}
