@mobile: 320px;
@tablet: 768px;

.communicating {
  padding-top: 28px;
  padding-bottom: 26px;

}

.communicating__main-text {
 max-width: 280px;
 margin: 0 auto;
 display: flex;
}
.communicating__offer-communicating {
  max-width: 122px;
  font-size: 16px;
  line-height: 20px;
  color: #111111;
  text-transform: uppercase;
  font-family: "Oswald-Regular", sans-serif;
  margin-right: 21px;
}

.communicating__address {
  font-family: "Arial-Regular", sans-serif;
  max-width: 135px;
  font-size: 14px;
  line-height: 20px;
  margin-top: 2px;
}

.communicating-form {
  background-color: #f2f2f2;
}

.communicating__address-index {
  margin-top: -1px;
}

@media (min-width:@tablet) {
  .communicating-form {
    width: 768px;
    margin-top: 77px;
    background-color: #f2f2f2;
    margin-left: -3px;
}
.communicating__main-text {
  max-width: 700px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.communicating__offer-communicating {
  margin-top: 38px;
  font-size: 20px;
  line-height: 25px;
  margin-left: 36px;
  max-width: 190px;
}
.communicating__address {
  text-align: right;
  margin-right: 39px;
  margin-top: 35px;
  line-height: 19px;
  font-size: 16px;
  line-height: 20px;
  max-width: 185px;
}
.communicating__address-city {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  margin-top: 20px;
}
}
