.find-all-goods {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 26px;
  padding-bottom: 24px;
}

.find-all-goods__plus-mobile-img {
  margin-bottom: 26px;
}

.find-all-goods__show-additional-goods {
  font-size: 16px;
  line-height: 20px;
  font-family: "Oswald-Regular", sans-serif;
  text-transform: uppercase;
  margin-bottom: 16px;
}

.find-all-goods__show-all-goods {
  border: 0;
  background-color: #f2f2f2;
  font-size: 16px;
  line-height: 20px;
  font-family: "Oswald-Regular", sans-serif;
  text-transform: uppercase;
  padding: 14px 94px 14px 94px;
  text-align: center;
  margin-bottom: 24px;
}
