@mobile: 320px;
@tablet: 768px;
@desktop: 1220px;

.live-example__content {
  max-width: 279px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.live-example__slider-button:hover {
  padding-bottom: 7px;
  border-bottom: 1px solid #989898;
}

.live-example__slider-button:active {
  padding-bottom: 7px;
  border: 0;
}

.live-example__header {
  font-family: "Oswald-Regular", "Arial", sans-serif;
  font-size: 36px;
  line-height: 60px;
  color: #111111;
  margin-bottom: 24px;
}

.live-example__sub {
  font-size: 14px;
  line-height: 18px;
  font-family: "Arial", "Tahoma", sans-serif;
  color: #444444;
  margin-bottom: 26px;
}

.live-example__numbers {
  display: flex;
  margin-bottom: 19px;
  max-width: 280px;
  justify-content: space-between;
}

.live-example__numbers-sub {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
}

.live-example__numbers-sub:first-child {
  background-image: url("../img/weight-back-left.png");
  background-repeat: no-repeat;
  background-size: 125px 55px;
}

.live-example__numbers-sub-header {
  font-family: "Oswald-Regular", "Arial", sans-serif;
  font-size: 24px;
  line-height: 24px;
  text-transform: uppercase;
}

.live-example__numbers-sub-content {
  font-size: 12px;
  line-height: 12px;
  color: #444444;
  font-family: "Arial", "Tahoma", sans-serif;
  max-width: 55px;
  background-color: #f2f2f2;
  padding-left: 16px;
  padding-right: 18px;
}

.live-example__slider {
  padding-top: 37px;
  padding-bottom: 25px;
}

.live-example__slider-button {
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  font-family: "Oswald-Regular", "Arial", sans-serif;
}

.live-example__numbers-sub:first-child {
  padding-top: 13px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 45.65%;
}

.live-example__slider {
  position: relative;
}

.slide-2 {
  position: absolute;
  top: 0;
  left: -10000px;
}

.live-example__slider-slide {
  margin-left: -19px;
  margin-top: 5px;
}

.live-example__slider-on-off-content {
  border: 1px solid #cdcdcd;
  position: relative;
  background-color: #ffffff;
  width: 84px;
  height: 13px;
  border-radius: 15px;
  margin-top: 2px;
}

.live-example__slider-on-off-content-image {
  margin-left: 5px;
  margin-bottom: 4px;
}

@media (min-width: @mobile) {
  .live-example {
    background-color: #f2f2f2;
    display: flex;
    flex-direction: column;
    padding: 17px 0 12px 0;
    max-width: 320px;
    margin: 0 auto;
  }

  .live-example__sub {
    font-size: 14px;
    line-height: 17px;
    font-family: "Arial", "Tahoma", sans-serif;
    color: #444444;
    margin-bottom: 26px;
  }

  .live-example__numbers-sub:last-child {
    width: 44.65%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 13px;
  }

  .live-example__numbers-sub-header:first-child {
    margin-bottom: 9px;
  }

  .live-example__numbers-sub:last-child {
    background-image: url("../img/weight-back-right.png");
    background-repeat: no-repeat;
    background-size: 125px 55px;
  }

  .live-example__slider-slide {
    display: block;
  }

  .live-example__slider-slide-show-tablet {
    display: none;
  }

  .live-example__slider-glide-button {
    display: none;
  }

  .live-example__content-slider {
    margin-top: 23px;
  }

  .live-example__numbers-plus-price {
    margin-top: 23px;
  }

  .live-example__price {
    text-transform: uppercase;
    font-family: "Oswald-Regular", "Arial", sans-serif;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    padding-left: 4px;
    margin-left: 40px;
    margin-top: 20px;
    display: flex;
  }

  .live-example__how-many-u-spent {
    margin-left: 3px;
    margin-right: 3px;
  }

  .live-example__slider-controls {
    display: flex;
    justify-content: space-between;
    max-width: 197px;
    margin-left: 44px;
    margin-top: 32px;
    margin-top: -206px;
  }

  /*Стилизация большого кота в слайдере индекс*/
  .live-example__slider-two-cats {
    height: 277px;
    position: relative;
    width: 100%;
    top: -201px;
    left: -46px;
  }

  .mobile-show {
    display: block;
    margin-top: 198px;
    margin-left: 27px;
  }
}

@media (min-width: @tablet) {
  .mobile-show {
    display: none;
  }

  .live-example {
    max-width: 768px;
    margin: 0 auto;
    background-color: inherit;
    border-top: 1px solid #e6e6e6;
  }

  .live-example__content {
    max-width: 768px;
  }

  .live-example__header {
    font-size: 60px;
    line-height: 60px;
    margin-top: 26px;
    margin-bottom: 65px;
    display: flex;
    margin-left: 31px;
  }

  .live-example__main-content {
    padding-left: 30px;
    padding-right: 24px;
  }

  .live-example__sub {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 53px;
    margin-left: -1px;
  }

  .live-example__numbers {
    margin-left: -2px;
    max-width: 384px;
  }

  .live-example__numbers-sub-header {
    font-size: 30px;
    text-transform: uppercase;
    line-height: 37.02px;
  }

  .live-example__numbers-sub-header-five-kg {
    margin-bottom: 12px;
    margin-top: 10px;
    margin-left: -15px;
    width: 109px;
  }

  .live-example__numbers-sub-content {
    font-size: 14px;
    line-height: 14px;
  }

  .live-example__numbers-sub:first-child {
    padding-top: 5px;
    max-width: 162px;
    padding-right: 33px;
    text-align: center;
    padding-left: 23px;
    margin-right: 16px;
    background-size: 162px 72px;
  }

  .live-example__numbers-sub-content-low-weight {
    padding-left: 10px;
    background-color: #fff;
    max-width: 198px;
    margin-left: -24px;
    padding-right: 0;
  }

  .live-example__numbers-sub-header-sixty-days {
    margin-left: 8px;
    margin-top: 2px;
  }

  .live-example__numbers-sub-content-total-time {
    background-color: #fff;
    max-width: 127px;
    margin-left: 13px;
    margin-top: 2px;
    padding-left: 0;
    padding-right: 0;
  }

  .live-example__numbers-plus-price {
    display: flex;
  }

  .live-example__price {
    font-size: 20px;
    line-height: 20px;
    display: flex;
    flex-direction: column;
  }

  .live-example__price {
    display: flex;
    align-items: flex-end;
    margin-left: 156px;
    margin-top: 11px;
  }

  .live-example__how-many-u-spent {
    margin-left: 6px;
  }

  .live-example__numbers-sub:last-child {
    width: 189px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 13px;
  }

  .live-example__numbers-sub-last-child {
    width: 189px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 13px;
  }

  .live-example__numbers-sub:last-child {
    background-size: 162px 71px;
    background-size: 161px 71px;
    padding-right: 12px;
  }

  .live-example__price-fifteen-thousand {
    margin-top: 9px;
  }

  .live-example__slider-slide {
    display: none;
  }

  .live-example__slider {
    margin-top: 232px;
    position: relative;
    background-color: #f2f2f2;
    max-width: 768px;
  }

  .live-example__slider-slide-show-tablet {
    display: block;
    position: absolute;
    top: -169px;
    left: 46px;
  }

  .live-example__slider-button {
    font-size: 20px;
    line-height: 20px;
  }

  .live-example__slider-controls {
    max-width: 569px;
    margin-top: 53px;
    margin-left: 100px;
    margin-bottom: 48px;
  }

  .live-example__slider-on-off-content-image {
    display: none;
  }

  .live-example__slider-on-off-content {
    border: 1px solid #cdcdcd;
    background-color: #dcdcdc;
    width: 426px;
    border-radius: 15px;
    margin-top: 7px;
    height: 3px;
    margin-left: 0;
    position: relative;
  }

  .live-example__slider-glide-button {
    display: block;
    position: absolute;
    top: -16px;
    left: 45.7%;
  }

  .live-example__main-content-left-column {
    margin-left: 1px;
  }

  .live-example__numbers-plus-price {
    margin-top: 52px;
  }

  /*Стилизация большого кота в слайдере индекс*/
  .live-example__slider-two-cats {
    height: 277px;
    position: relative;
    width: 100%;
    top: -201px;
    left: -46px;
  }

  .live-example__slider-before-cat {
    height: 226px;
    width: 280px;
    background-image: url(../imgs/index/before-desktop.png);
    background-size: cover;
    background-position: 50%;
    background-repeat: no-repeat;
    background-color: #f2f2f2;
    position: absolute;
    top: -15px;
    left: 49%;
    margin-left: -140px;
    z-index: 1;
    height: 589px;
    width: 348px;
    margin-left: -294px;
    background-size: 672px 518px;
    background-position: 15px 10px;
    background-color: transparent;
    background-image: url(../img/before-desktop@1x.png);
  }

  .live-example__slider-after-cat {
    position: absolute;
    top: -4px;
    left: 55%;
    height: 583px;
    width: 600px;
    margin-left: -342px;
    background-size: 559px 514px;
    background-position: 85px 0px;
    background-color: transparent;
    background-repeat: no-repeat;
    background-image: url(../img/after-desktop@1x.png);
  }
}

@media (min-width: @desktop) {
  .mobile-show {
    display: none;
  }

  .live-example {
    max-width: 1440px;
    border-top: 0;
    padding-bottom: 0;
  }

  .live-example-content {
    max-width: 1220px;
  }

  .live-example__header {
    font-size: 60px;
    line-height: 60px;
    margin-top: 7px;
    margin-bottom: 74px;
    margin-left: 0;
    display: flex;
    margin-left: 109px;
  }

  .live-example__main-content {
    display: flex;
  }

  .live-example__main-content-left-column {
    display: flex;
    flex-direction: column;
  }

  .live-example__content {
    flex-direction: row;
    display: flex;
    max-width: 1220px;
    margin: 0;
  }

  .live-example__numbers-plus-price {
    flex-direction: column;
    display: flex;
  }

  .live-example__price {
    margin-left: 0;
  }

  .live-example__sub {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 50px;
    margin-left: 80px;
    max-width: 432px;
    margin-top: 73px;
  }

  .live-example__numbers-plus-price {
    margin-top: 18px;
    margin-left: 81px;
  }

  .live-example__numbers-sub:first-child {
    padding-top: 5px;
    max-width: 162px;
    padding-right: 27px;
    text-align: center;
    padding-left: 8px;
    margin-right: 16px;
    background-size: 162px 72px;
  }

  .live-example__numbers-sub-header:first-child {
    margin-bottom: 9px;
    margin-left: -7px;
  }

  .live-example__numbers-sub-content-low-weight {
    padding-left: 10px;
    background-color: inherit;
    max-width: 198px;
    margin-left: -17px;
    padding-right: 0;
    margin-top: 1px;
  }

  .live-example__numbers-sub-content-total-time {
    background-color: inherit;
    max-width: 127px;
    margin-left: -6px;
    margin-top: 2px;
    padding-left: 0;
    padding-right: 0;
  }

  .live-example__price {
    max-width: 326px;
    justify-content: space-between;
    display: flex;
    flex-direction: row;
    margin-top: 28px;
    padding-left: 0;
  }

  .live-example__how-many-u-spent {
    width: 175px;
  }

  .live-example__price-fifteen-thousand {
    width: 90px;
  }

  .live-example__slider {
    margin-top: 0px;
    margin-left: 90px;
    margin-right: -28px;
    position: relative;
    background-color: #f2f2f2;
  }

  .live-example__slider-slide-show-tablet {
    display: block;
    position: absolute;
    top: -186px;
    left: 26px;
    width: 624px;
    height: 517px;
  }

  .live-example__content-slider {
    display: flex;
    width: 1440px;
    background-color: #f2f2f2;
    margin-top: 0px;
  }

  .live-example__slider-on-off-content {
    border: 1px solid #cdcdcd;
    background-color: #dcdcdc;
    width: 424px;
    border-radius: 15px;
    margin-top: 7px;
    height: 3px;
    margin-left: 23px;
    position: relative;
    margin-right: 23px;
  }

  .live-example__slider-controls {
    max-width: 569px;
    margin-top: -219px;
    margin-left: 103px;
    margin-bottom: 48px;
  }

  .live-example__slider-button {
    padding-bottom: 7px;
    border-bottom: 1px dotted #bebebe;
  }

  .live-example__how-many-u-spent {
    margin-left: -2px;
  }

  .live-example__slider {
    padding-bottom: 18px;
  }

  /*Стилизация большого кота в слайдере индекс*/
  .live-example__slider-two-cats {
    height: 550px;
    position: relative;
    width: 100%;
    top: -222px;
    left: -20px;
  }

  .live-example__slider-before-cat {
    height: 226px;
    width: 280px;
    background-image: url(../imgs/index/before-desktop.png);
    background-size: cover;
    background-position: 50%;
    background-repeat: no-repeat;
    background-color: #f2f2f2;
    position: absolute;
    top: -15px;
    left: 49%;
    margin-left: -140px;
    z-index: 1;
    height: 589px;
    width: 374px;
    margin-left: -294px;
    background-size: 672px 518px;
    background-position: 15px 10px;
    background-color: transparent;
    background-image: url(../img/before-desktop@1x.png);
  }

  .live-example__slider-after-cat {
    position: absolute;
    top: -4px;
    left: 55%;
    height: 583px;
    width: 600px;
    margin-left: -337px;
    background-size: 559px 514px;
    background-position: 85px 0px;
    background-color: transparent;
    background-repeat: no-repeat;
    background-image: url(../img/after-desktop@1x.png);
  }
  .live-example__header {
    max-width: 650px;
  }
}
