/* LESS Document */
.hidden{
	width: 1px;
	height: 1px;
	position: absolute;
	left: -1000px;
}
.main-catalog{
	padding-top: 20px;
}
.main__main-text{
	font-size: 36px;
	line-height: 60px;
	color: #111111;
	font-family: Oswald-Regular;
}
.main-catalog__good{
	display: flex;
	border-top: 1px solid #ededed;
	border-bottom: 1px solid #ededed;
}
.main-catalog__good-volume{
	display: flex;
	justify-content: space-between;
}
.main-catalog__main-text{
	font-size: 36px;
	line-height: 60px;
	font-family: Oswald-Regular;
	padding-bottom: 35px;
}
.main-catalog__good-header{
	font-size: 16px;
	line-height: 20px;
	font-family: Oswald-Regular;
	color: #111111;
	margin-bottom: 19px;
}
.main-catalog__good-content{
	display: flex;
	flex-direction: column;
}
.main-catalog__good-data{
	display: flex;
	flex-direction: column;
}
.main-catalog__good-data-sub{
	display: flex;
	justify-content: space-between;
	font-size: 12px;
	line-height: 16px;
	font-family: Arial-Regular;
	margin-bottom: 6px;
}
.main-catalog__good-data-sub:last-child{
	margin-bottom: 0;
}
.main-catalog__good-order{
	background-color: #68b738;
	text-transform: uppercase;
	font-size: 16px;
	line-height: 20px;
	font-family: Arial-Regular;
	border: 0;
	color: #ffffff;
	padding: 14px 108px 14px 108px;
	margin-top: 23px;
	margin-bottom: 24px;
}
.main-catalog__good-content-sub-text{
	display: flex;
  align-items: center;
  margin-left: auto;
}
