/* LESS Document */
.main-form {
  display: flex;
  flex-direction: column;
}

.main-form__how-u-can-choose-program {
  padding-top: 31px;
  padding-bottom: 36px;
  font-size: 24px;
  line-height: 24px;
  font-family: "Oswald-Regular", sans-serif;
}

.main-form__full-anket {
  font-family: "Oswald-Regular", sans-serif;
  font-size: 14px;
  line-height: 18px;
  margin-bottom: 40px;
}

.form__first-three-inputs {
  margin-bottom: 14px;
  font-size: 16px;
  line-height: 18px;
  font-family: "Oswald-Regular", sans-serif;
  display: flex;
  align-items: center;
  text-transform: uppercase;
}

.form__first-three-inputs input {
  font-size: 16px;
  line-height: 18px;
  font-family: "Oswald-Regular", sans-serif;
  border: 1px solid #e6e6e6;
  padding: 15px;
  margin-left: 16px;
}

.form__first-three-inputs-custom-border {
  padding-bottom: 23px;
}

.main-form__radio-part {
  padding-top: 20px;
  padding-bottom: 20px;
  border-top: 1px solid #ededed;
  border-bottom: 1px solid #ededed;
}

.form__sub-label-input-radio {
  font-family: "Oswald-Regular", sans-serif;
  font-size: 16px;
  line-height: 18px;
  color: #222222;
  margin-left: 16px;
}

.form__sub-radio {
  margin-bottom: 13px;
  display: flex;
  align-items: center;
}

.form__sub-radio:last-child {
  margin-bottom: 0;
}

.form__contact {
  display: flex;
  margin-top: 30px;
  margin-bottom: 30px;
}

.form__contact-data-for-cat-owner {
  font-family: "Oswald-Regular", sans-serif;
  font-size: 24px;
  line-height: 24px;
  margin-right: 22px;
  max-width: 179px;
}

.form__contact-data-for-cat-owner-line {
  height: 3px;
  width: 100%;
  background-color: #68b738;
}

.form__sub-contact-cat-data {
  font-family: "Oswald-Regular", sans-serif;
  font-size: 16px;
  line-height: 18px;
  color: #222222;
  margin-right: 13px;
}

.form__contact-data-cat-owner-email {
  margin-bottom: 14px;
}

.form__contact-data-cat-owner-telephone {
  margin-bottom: 32px;
}

.form__sub-input-text-email {
  border: 1px solid #e7e7e7;
  font-family: "Oswald-Regular", sans-serif;
  font-size: 16px;
  line-height: 18px;
  padding: 14px 15px 13px 15px;
  position: relative;
}

.form__sub-input-text-telephone {
  border: 1px solid #e7e7e7;
  font-family: "Oswald-Regular", sans-serif;
  font-size: 16px;
  line-height: 18px;
  padding: 14px 15px 13px 15px;
}

.form__submit-input {
  background-color: #68b738;
  border: 0;
  font-family: "Oswald-Regular", sans-serif;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  text-transform: uppercase;
  max-width: 280px;
  text-align: center;
  padding-top: 14px;
  padding-bottom: 14px;
  padding-left: 80px;
  padding-right: 80px;
  display: flex;
  margin-bottom: 24px;
}

.form__required-fields-text {
  font-family: "Arial-Regular", sans-serif;
  font-size: 14px;
  line-height: 16px;
  margin-bottom: 35px;
}

.form__sub-contact-additional-data {
  font-family: "Oswald-Regular", sans-serif;
  font-size: 16px;
  line-height: 18px;
  color: #222222;
  text-transform: uppercase;
  margin-left: 16px;
}

.form__commentary {
  display: flex;
}

.form__commentary-comment {
  font-family: "Oswald-Regular", sans-serif;
  font-size: 24px;
  line-height: 24px;
  margin-bottom: 31px;
}

.form__commentary-textarea {
  width: 280px;
  font-size: 16px;
  line-height: 18px;
  font-family: "Oswald-Regular", sans-serif;
  color: #444444;
  text-transform: uppercase;
  border: 1px solid #e6e6e6;
  margin-bottom: 32px;
}

.form__sub-additional {
  margin-bottom: 32px;
  display: flex;
}

.form__sub-add {
  font-size: 24px;
  line-height: 24px;
  font-family: "Oswald-Regular", sans-serif;
  margin-right: 25px;
}

.forsm__sub-additional-line {
  height: 3px;
  background-color: #68b738;
  width: 100%;
}

.form__sub-checkbox {
  margin-bottom: 13px;
}

.form__sub-checkbox:last-child {
  margin-bottom: 34px;
}

.form__submit {
  display: flex;
  flex-direction: column;
}
