@font-face {
  font-family: "Oswald-Medium"; /* Имя шрифта */
  src: url("../fonts/oswaldmedium.woff")/* Путь к файлу со шрифтом */
}

@font-face {
  font-family: "Oswald-Regular"; /* Имя шрифта */
  src: url("../fonts/oswaldregular.woff");/* Путь к файлу со шрифтом */
}

@font-face {
  font-family: "Arial-Regular"; /* Имя шрифта */
  src: url("../fonts/arialregular.ttf");/* Путь к файлу со шрифтом */
}

* {
  padding: 0;
  margin: 0;
}

@white: #fff;

.page-header__menu-logos-links {
  background-color: @white;
  padding-top: 11px;
  padding-bottom: 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.menu-main__sub-menu-elem {
  border-top: 1px solid #e6e6e6;
  border-bottom: 1px solid #e6e6e6;
  list-style-type: none;
  padding-top: 24px;
  padding-bottom: 24px;
}

.menu-main__sub-menu-elem-link {
  text-decoration: none;
  font-family: "Oswald-Medium", sans-serif;
  font-size: 20px;
  line-height: 20px;
  font-weight: bold;
  color: #111111;
  text-transform: uppercase;
}

.menu-main {
  text-align: center;
}
