/* LESS Document */
@font-face {
  font-family: Oswald-Medium;
  /* Имя шрифта */
  src: url("../fonts/oswaldmedium.woff") /* Путь к файлу со шрифтом */;
}
@font-face {
  font-family: Oswald-Regular;
  /* Имя шрифта */
  src: url("../fonts/oswaldregular.woff");
  /* Путь к файлу со шрифтом */
}
@font-face {
  font-family: Arial-Regular;
  /* Имя шрифта */
  src: url("../fonts/arialregular.ttf");
  /* Путь к файлу со шрифтом */
}
* {
  padding: 0;
  margin: 0;
}
.page-header__menu-logos-links {
  background-color: #fff;
  padding-top: 11px;
  padding-bottom: 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.menu-main__sub-menu-elem {
  border-top: 1px solid #e6e6e6;
  border-bottom: 1px solid #e6e6e6;
  list-style-type: none;
  padding-top: 24px;
  padding-bottom: 24px;
}
.menu-main__sub-menu-elem-link {
  text-decoration: none;
  font-family: Oswald-Medium;
  font-size: 20px;
  line-height: 20px;
  font-weight: bold;
  color: #111111;
  text-transform: uppercase;
}
.menu-main {
  text-align: center;
}
/* LESS Document */
.header-background {
  background-color: #65a93c;
  background-image: url("../img/index-can-mobile.png");
  background-repeat: no-repeat;
  padding: 29px 0 303px 0;
  text-align: center;
}
.header-background__main-words {
  font-family: Oswald-Regular;
  font-size: 36px;
  line-height: 36px;
  color: #fff;
}
.header-background__work-for-your-cat {
  font-size: 14px;
  line-height: 14px;
  font-family: Oswald-Regular;
  font-weight: normal;
  color: #fff;
  margin-top: 20px;
  text-transform: uppercase;
}
.check-your-program {
  font-size: 14px;
  line-height: 18px;
  font-family: Oswald-Regular;
  text-align: center;
  color: #fff;
  background-color: #68b738;
  text-decoration: none;
  width: 100%;
  padding: 14px 0 11px 0;
  display: flex;
  justify-content: center;
  text-transform: uppercase;
}
.programs__program {
  background-color: #f2f2f2;
  display: flex;
  flex-direction: column;
}
.programs__header-program {
  display: flex;
  margin-bottom: 26px;
}
.programs__img_program {
  background-color: #68b738;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  margin-right: 20px;
}
.programs__name {
  font-size: 24px;
  line-height: 37.02px;
  font-family: Oswald-Regular;
}
.programs__program:first-child {
  padding: 22px 36px 23px 21px;
  margin-bottom: 20px;
  margin-top: 22px;
}
.programs__program-content {
  font-size: 14px;
  line-height: 18px;
  font-family: Arial-Regular;
  color: #444444;
  padding-bottom: 26px;
}
.programs__program:last-child {
  padding: 24px 53px 23px 20px;
}
.programs__program-link {
  font-family: Oswald-Regular;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 16px;
  text-decoration: none;
  color: #111111;
}
.programs__program-main-content-link {
  display: flex;
  border-top: 1px solid #d9d9d9;
  padding-top: 20px;
}
.programs__program-link {
  margin-right: 20px;
}
/* LESS Document */
.how-it-is-work {
  padding-top: 33px;
  padding-bottom: 42px;
  display: flex;
  flex-direction: column;
}
.how-it-is-work__header {
  font-size: 36px;
  line-height: 60px;
  font-family: Oswald-Regular;
  color: #111111;
  margin-bottom: 42px;
}
.how-it-is-work__sub {
  display: flex;
  margin-bottom: 20px;
  align-items: center;
}
.how-it-is-work__green {
  margin-right: 21px;
  width: 60px;
  height: 60px;
  background-color: #68b738;
}
.how-it-is-work__sub-text {
  font-size: 14px;
  line-height: 18px;
  font-family: Arial-Regular;
  color: #444444;
  max-width: 191px;
}
.live-example {
  background-color: #f2f2f2;
  display: flex;
  flex-direction: column;
  padding: 34px 0 39px 0;
}
.live-example__header {
  font-family: Oswald-Regular;
  font-size: 36px;
  line-height: 60px;
  color: #111111;
  margin-bottom: 34px;
}
.live-example__sub {
  font-size: 14px;
  line-height: 18px;
  font-family: Arial-Regular;
  color: #444444;
  margin-bottom: 29px;
}
.live-example__numbers {
  display: flex;
  justify-content: space-between;
  margin-bottom: 27px;
}
.live-example__numbers-sub {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
}
.live-example__numbers-sub:first-child {
  background-image: url("../img/weight-back-left.png");
  background-repeat: no-repeat;
}
.live-example__numbers-sub:last-child {
  background-image: url("../img/weight-back-right.png");
  background-repeat: no-repeat;
}
.live-example__numbers-sub-header {
  font-family: Oswald-Regular;
  font-size: 24px;
  font-family: 24px;
  text-transform: uppercase;
}
.live-example__numbers-sub-content {
  font-size: 12px;
  font-family: 12px;
  color: #444444;
}
.live-example__price {
  text-transform: uppercase;
  font-family: Oswald-Regular;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
}
.live-example__slider {
  padding-top: 37px;
  padding-bottom: 39px;
}
.live-example__slider-button {
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  font-family: Oswald-Regular;
}
.communicating {
  display: flex;
  justify-content: center;
  padding-top: 31px;
  padding-bottom: 26px;
}
.communicating__offer-communicating {
  max-width: 122px;
  font-size: 16px;
  line-height: 20px;
  color: #111111;
  text-transform: uppercase;
  font-family: Oswald-Regular;
  margin-right: 20px;
}
.communicating__address {
  font-family: Arial-Regular;
  max-width: 134px;
  font-size: 14px;
  line-height: 20px;
}
.communicating-form {
  background-color: #f2f2f2;
}
.map__iframe {
  width: 100%;
}
.footer {
  background-color: #f2f2f2;
  display: flex;
  flex-direction: column;
  padding-top: 31px;
  padding-bottom: 39px;
  align-items: center;
}
.footer__social-links {
  display: flex;
}
.footer__social-links-li {
  list-style-type: none;
}
.footer__footer-logo {
  padding-bottom: 31px;
}
.footer__right-logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.right-logo__link-organization {
  font-size: 16px;
  line-height: 16px;
  font-family: Arial-Regular;
  color: #444444;
  text-decoration: none;
  margin-right: 141px;
}
.footer__social-image:first-child {
  margin-right: 37px;
}
.footer__social-image:nth-child(2n) {
  margin-right: 40px;
}
/* LESS Document */
.main-form {
  display: flex;
  flex-direction: column;
}
.main-form__how-u-can-choose-program {
  padding-top: 31px;
  padding-bottom: 36px;
  font-size: 24px;
  line-height: 24px;
  font-family: Oswald-Regular;
}
.main-form__full-anket {
  font-family: Oswald-Regular;
  font-size: 14px;
  line-height: 18px;
  margin-bottom: 40px;
}
.form__first-three-inputs {
  margin-bottom: 14px;
  font-size: 16px;
  line-height: 18px;
  font-family: Oswald-Regular;
  display: flex;
  align-items: center;
  text-transform: uppercase;
}
.form__first-three-inputs input {
  font-size: 16px;
  line-height: 18px;
  font-family: Oswald-Regular;
  border: 0;
  border: 1px solid #e6e6e6;
  padding: 15px;
  margin-left: 16px;
}
.form__first-three-inputs-custom-border {
  padding-bottom: 23px;
}
.main-form__radio-part {
  padding-top: 20px;
  padding-bottom: 20px;
  border-top: 1px solid #ededed;
  border-bottom: 1px solid #ededed;
}
.form__sub-label-input-radio {
  font-family: Oswald-Regular;
  font-size: 16px;
  line-height: 18px;
  color: #222222;
  margin-left: 16px;
}
.form__sub-radio {
  margin-bottom: 13px;
  display: flex;
  align-items: center;
}
.form__sub-radio:last-child {
  margin-bottom: 0;
}
.form__contact {
  display: flex;
  margin-top: 30px;
  margin-bottom: 30px;
}
.form__contact-data-for-cat-owner {
  font-family: Oswald-Regular;
  font-size: 24px;
  line-height: 24px;
  margin-right: 22px;
  max-width: 179px;
}
.form__contact-data-for-cat-owner-line {
  height: 3px;
  width: 100%;
  background-color: #68b738;
}
.form__sub-contact-cat-data {
  font-family: Oswald-Regular;
  font-size: 16px;
  line-height: 18px;
  color: #222222;
  margin-right: 13px;
}
.form__contact-data-cat-owner-email {
  margin-bottom: 14px;
}
.form__contact-data-cat-owner-telephone {
  margin-bottom: 32px;
}
.form__sub-input-text-email {
  border: 0;
  border: 1px solid #e7e7e7;
  font-family: Oswald-Regular;
  font-size: 16px;
  line-height: 18px;
  padding: 14px 15px 13px 15px;
  position: relative;
}
.form__sub-input-text-telephone {
  border: 0;
  border: 1px solid #e7e7e7;
  font-family: Oswald-Regular;
  font-size: 16px;
  line-height: 18px;
  padding: 14px 15px 13px 15px;
}
.form__submit-input {
  background-color: #68b738;
  border: 0;
  font-family: Oswald-Regular;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  text-transform: uppercase;
  max-width: 280px;
  text-align: center;
  padding-top: 14px;
  padding-bottom: 14px;
  padding-left: 80px;
  padding-right: 80px;
  display: flex;
}
.form__required-fields-text {
  font-family: Arial-Regular;
  font-size: 14px;
  line-height: 16px;
}
.form__sub-contact-additional-data {
  font-family: Oswald-Regular;
  font-size: 16px;
  line-height: 18px;
  color: #222222;
  text-transform: uppercase;
  margin-left: 16px;
}
.form__commentary {
  display: flex;
}
.form__commentary-comment {
  font-family: Oswald-Regular;
  font-size: 24px;
  line-height: 24px;
  margin-bottom: 31px;
}
.form__commentary-textarea {
  width: 280px;
  font-size: 16px;
  line-height: 18px;
  font-family: Oswald-Regular;
  color: #444444;
  text-transform: uppercase;
  border: 1px solid #e6e6e6;
  margin-bottom: 32px;
}
.form__sub-additional {
  margin-bottom: 32px;
  display: flex;
}
.form__sub-add {
  font-size: 24px;
  line-height: 24px;
  font-family: Oswald-Regular;
  margin-right: 25px;
}
.forsm__sub-additional-line {
  height: 3px;
  background-color: #68b738;
  width: 100%;
}
.form__sub-checkbox {
  margin-bottom: 13px;
}
.form__sub-checkbox:last-child {
  margin-bottom: 34px;
}
.form__submit-input {
  margin-bottom: 24px;
}
.form__submit {
  display: flex;
  flex-direction: column;
}
.form__required-fields-text {
  margin-bottom: 35px;
}
/* LESS Document */
.hidden {
  width: 1px;
  height: 1px;
  position: absolute;
  left: -1000px;
}
.main-catalog {
  padding-top: 20px;
}
.main__main-text {
  font-size: 36px;
  line-height: 60px;
  color: #111111;
  font-family: Oswald-Regular;
}
.main-catalog__good {
  display: flex;
  border-top: 1px solid #ededed;
  border-bottom: 1px solid #ededed;
}
.main-catalog__good-volume {
  display: flex;
  justify-content: space-between;
}
.main-catalog__main-text {
  font-size: 36px;
  line-height: 60px;
  font-family: Oswald-Regular;
  padding-bottom: 35px;
}
.main-catalog__good-header {
  font-size: 16px;
  line-height: 20px;
  font-family: Oswald-Regular;
  color: #111111;
  margin-bottom: 19px;
}
.main-catalog__good-content {
  display: flex;
  flex-direction: column;
}
.main-catalog__good-data {
  display: flex;
  flex-direction: column;
}
.main-catalog__good-data-sub {
  display: flex;
  justify-content: space-between;
  font-size: 12px;
  line-height: 16px;
  font-family: Arial-Regular;
  margin-bottom: 6px;
}
.main-catalog__good-data-sub:last-child {
  margin-bottom: 0;
}
.main-catalog__good-order {
  background-color: #68b738;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 20px;
  font-family: Arial-Regular;
  border: 0;
  color: #ffffff;
  padding: 14px 108px 14px 108px;
  margin-top: 23px;
  margin-bottom: 24px;
}
.main-catalog__good-content-sub-text {
  display: flex;
  align-items: center;
  margin-left: auto;
}
/* LESS Document */
.find-all-goods {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 26px;
  padding-bottom: 24px;
}
.find-all-goods__plus-mobile-img {
  margin-bottom: 26px;
}
.find-all-goods__show-additional-goods {
  font-size: 16px;
  line-height: 20px;
  font-family: Oswald-Regular;
  text-transform: uppercase;
  margin-bottom: 16px;
}
.find-all-goods__show-all-goods {
  border: 0;
  background-color: #f2f2f2;
  font-size: 16px;
  line-height: 20px;
  font-family: Oswald-Regular;
  text-transform: uppercase;
  padding: 14px 94px 14px 94px;
  text-align: center;
  margin-bottom: 24px;
}
.additional-goods__header-sub-span {
  font-size: 24px;
  line-height: 24px;
  font-family: Oswald-Regular;
  margin-bottom: 30px;
}
.additional-goods__header-line {
  height: 3px;
  background-color: #68b738;
  width: 100%;
}
.additional-goods__header {
  display: flex;
}
.additional-goods__article-header {
  font-size: 16px;
  line-height: 16px;
  font-family: Oswald-Regular;
  margin-bottom: 16px;
  text-transform: uppercase;
  margin-top: 14px;
}
.additional-goods__article {
  display: flex;
  flex-direction: column;
}
.additional-goods__article-content {
  display: flex;
  justify-content: space-between;
}
.additional-goods__article-order {
  margin-bottom: 17px;
  margin-top: 14px;
  text-transform: uppercase;
  color: #fff;
  border: 0;
  background-color: #68b738;
  padding: 14px 108px 14px 108px;
  max-width: 280px;
}
.additional-goods__article-content {
  font-size: 14px;
  line-height: 14px;
  font-family: Arial-Regular;
}
.additional-goods__article {
  border-top: 1px solid #cdcdcd;
}
.additional-goods__green-background {
  margin-top: 40px;
  margin-bottom: 35px;
  background-image: url("../img/gift-photo-mobile@1x.jpg");
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 65px;
  padding-bottom: 46px;
}
.additional-goods__background-img {
  margin-bottom: 64px;
}
.additional-goods__green-background-text {
  font-size: 16px;
  line-height: 20px;
  font-family: Arial-Regular;
  color: #fff;
}
